{% extends "layout.html" %}

{% block head %}
    <title>Create Trivia</title>

    <style>
        body {
            background-color: #d1e7dd;
        }

        main {
            min-height: 100vh;
        }
    </style>
{% endblock %}

{% block body %}

<main>

    <div class="text-center">
        <h1 class="text-success fw-bold my-4" style="font-size:4em">Create Trivia</h1>

        <h2 class="text-info-emphasis fw-bold mb-4">Create your very own trivia to share!</h2>

        <h5 class="text-info-emphasis fw-bold mb-4">Have several categories and so on in Your trivia? Leave it blank!</h5>
    </div>

    <div class="d-flex" style="justify-content:center;">
        <div style="width:30%">
            <form action="/create" method="post">

                <div class="my-2">
                    <label class="form-label">Category of questions</label>
                        <select class="form-select mb-4" name="category">

                            <option value="any category" selected>Any Category</option>

                            {% for category_name, options in categories.items() %}
                            <optgroup label="-- {{ category_name }}">
                                {% for option in options.keys() %}
                                    <option value="{{ category_name }},{{ option }}">{{ option }}</option>
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>

                    <div class="mb-4">
                        <label class="form-label">Number of questions</label>
                        <input name="number-of-questions" min="1" max="20" type="number" class="form-control" autocomplete="off" placeholder="Amount" required>
                        <div class="form-text">20 is the Max! (Required)</div>
                    </div>

                <label class="form-label">Select Difficulty</label>
                <div class="mb-4">
                    <input type="checkbox" class="btn-check" name="difficulty" value="easy" id="success-outlined" autocomplete="off" onclick="uncheck(this);">
                    <label class="btn btn-outline-success" for="success-outlined">Easy</label>

                    <input type="checkbox" class="btn-check" name="difficulty" value="medium" id="warning-outlined" autocomplete="off" onclick="uncheck(this);">
                    <label class="btn btn-outline-warning" for="warning-outlined">Medium</label>

                    <input type="checkbox" class="btn-check" name="difficulty" value="hard" id="danger-outlined" autocomplete="off" onclick="uncheck(this);">
                    <label class="btn btn-outline-danger" for="danger-outlined">Hard</label>
                </div>

                <label class="form-label">Select Type of Questions</label>
                <select class="form-select mb-4" name="type-of-questions">

                    <option value="any type" selected>Any Type</option>
                    <option value="multiple">Multiple Choice</option>
                    <option value="boolean">True / False</option>

                </select>
                </div>

                <button type="submit" class="btn btn-primary w-100">Create Quiz</button>
            </form>
        </div>
    </div>
</main>

    <script>
        function uncheck(radio) {
            const checkboxes = document.querySelectorAll('.btn-check');

            checkboxes.forEach(checkbox => {
            if (checkbox != radio)
                checkbox.checked = false;
            })
        }
    </script>

{% endblock %}
